<%= stylesheet_link_tag 'redmond/jquery-ui-1.8.2.custom' %>

<style>
a:link {color: #000; text-decoration: none; font-size: 90%;}
a:visited {color: #000; text-decoration: none; font-size: 90%;}
a:hover {color: #555; text-decoration: none; font-size: 90%;}
a:active {color: #000; text-decoration: none; font-size: 90%;}
a img {border-width:0;}
</style>

<a href='javascript:void(0);' onclick='nova_estoria();' style="background: #fff">Nova Estória</a><br />

<div id="estorias_nao_aprovadads" style="border: 1px solid blue; width: 470px; height: 500px; float: left; overflow:auto;">
	<h4>Estórias Aguardando Aprovação</h4>
</div>

<div id="estorias_aprovadas" style="border: 1px solid blue; width: 470px; height: 500px; float: right; overflow:auto;">
	<h4>Estórias Aprovadas</h4>
</div>


<div id="editar_estoria" title="Editar Estória">
	<!-- <form id="form_estoria"> -->
	<%= form_tag "/estorias/atualizar", :id => "form_estoria", :multipart => true do %>
		<%= render 'estorias/form' %>
		
		<div id='botoes' class="actions">
    		<button type="submit">Salvar</button>
			<button id='cancelar_estoria' type='button' onclick='fecha_dialogo_editar();'>Cancelar</button>
  		</div>
		
		<!--
		<%= form_tag "/estorias/anexar", :id => "form_anexo", :multipart => true do %>
			<input type="hidden" name="id_estoria" id="id_estoria_anexo" />
    		<label>Anexo</label><br />
    		<input type="file" name="anexo" id="anexo" style=" height: 25px;" />
			<button type="submit">Enviar</button>
		<% end %>
		-->
	<% end %>
	<!-- </form> -->
</div>

<div id="dialogo_nova_estoria" title="Nova Estória">
<!-- <form id="form_nova_estoria"> -->
<%= form_tag "/estorias", :id => "form_nova_estoria", :multipart => true do %>
	<input type="hidden" name="projeto_id" id="projeto_id" value="<%= @projeto.id %>" />
	
	<input type="hidden" name="id" id="id_nova_estoria" />
  <div class="field" style="float: left; width: 100px;">
    <label>Importância</label><br />
    <input type="text" name="estoria[importancia]" id="importancia_nova_estoria" style="width: 40px" />
  </div>
  <div class="field" style="float: left; width: 100px;">
    <label>Estimativa</label><br />
    <input type="text" name="estoria[estimativa]" id="estimativa_nova_estoria" style="width: 40px" />
  </div>
  <div class="field" style="float: left; width: 250px">
    <label>Status</label><br />
    <select name="estoria[status]" id="status">
		<option value="1">Em Aprovacao</option>
		<option value="2">Aprovado</option>
		<option value="3">Aguardando Desenvolvimento</option>
		<option value="4">Em Desenvolvimento</option>
		<option value="5">Desenvolvimento Concluído</option>
		<option value="6">Impedimento</option>
		<option value="7">Em Teste</option>
		<option value="8">Testado</option>
		<option value="9">Em Deploy</option>
		<option value="10">Em Produção</option>
	</select>
  </div>
  <div class="field" style="float: left; width: 100px">
    <label>Tipo</label><br />
    <select name="estoria[tipo]" id="tipo_nova_estoria">
		<option value="1">Funcionalidade</option>
		<option value="2">Bug</option>
		<option value="3">Tarefa Técnica</option>
	</select>
  </div>
  <div class="field" style="width: 500px;">
    <label>Nome</label><br />
    <input type="text" name="estoria[nome]" id="nome_nova_estoria" style="width: 575px;" />
  </div>
  <div class="field">
    <label>Descrição</label><br />
    <textarea name="estoria[descricao]" id="descricao_nova_estoria" style="width: 575px; height: 80px;"></textarea>
  </div>
  <div class="field">
    <label>Como Testar</label><br />
    <textarea name="estoria[como_testar]" id="como_testar_nova_estoria" style="width: 575px; height: 80px;"></textarea>
  </div>

	
	<div class="field">
    	<label>Anexo</label>
    	<input type="file" name="anexo_nova_estoria" id="anexo" style="width: 575px;" />
  	</div>
	
	
	<div class="actions">
    	<button type="submit">Salvar</button>
		<button id='cancelar_nova_estoria' type='button' onclick='fecha_dialogo_nova_estoria();'>Cancelar</button>
  	</div>
<% end %>
<!-- </form> -->
</div>

<%= render 'estorias/dialogo_confirma_excluir' %>

<%= javascript_include_tag 'jqueryui/jquery.ui.core.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.widget.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.position.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.dialog.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.button.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.autocomplete.min.js' %>
<%= javascript_include_tag 'jquery.form.js' %>
<%= javascript_include_tag 'jquery.validate.js' %>
<%= javascript_include_tag 'core.js' %>
<%= javascript_include_tag 'backlog.js' %>

<script>
var id_projeto = 0;
id_projeto = <%= @projeto.id %>;
</script>
