<%= stylesheet_link_tag 'redmond/jquery-ui-1.8.2.custom' %>

<h1>Gerenciamento de Usuários</h1>

<h2>Usuários do projeto</h2>
<div id="usuarios_participantes">
	<% @usuarios.each do |usuario| %>
		<%= usuario.email %>
		<% usuario.permissoes.each do |permissao| %>
			- <label title="<%=permissao.papel.descricao%>"> <%= permissao.papel.nome %> </label>
			<a href="javascript:void(0);" title="Remover Permissão" onclick="remove_permissao(<%= permissao.id %>);"><img src="/images/remove_small.png"></a>
		<% end %>
		<br />
	<% end %>
</div>

<div id="pesquisa_usuarios">
	<h3>Pesquisa usuários</h3>
	<input id="email" type="text" />
	<button id="pesquisar">Pesquisar</button>

	<div id="usuarios_encontrados"></div>
</div>

<%= javascript_include_tag 'jqueryui/jquery.ui.core.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.widget.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.position.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.dialog.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.button.min.js' %>
<%= javascript_include_tag 'jqueryui/jquery.ui.autocomplete.min.js' %>
<%= javascript_include_tag 'jquery.form.js' %>
<%= javascript_include_tag 'jquery.validate.js' %>
<%= javascript_include_tag 'core.js' %>
<%= javascript_include_tag 'usuarios.js' %>

<script>
var id_portifolio = 0;
id_portifolio = <%= @portifolio.id %>;
</script>
